{{- $entry := . -}}
{{ $entry.ColorDefault }}[{{ $entry.ColorHighlight }}{{ fmt_pad .Level.String 5 }}{{ $entry.ColorDefault }}] {{ $entry.ColorSubtle }}{{ $entry.TimeStamp }}{{ $entry.ColorDefault }} {{ $entry.Msg }}
    {{ $entry.ColorHighlight }}File{{ $entry.ColorSubtle }}:  {{ $entry.File }}:{{ $entry.Line }}
    {{ $entry.ColorHighlight }}Pkg{{ $entry.ColorSubtle }}:   {{ $entry.Package }}
    {{ $entry.ColorHighlight }}Func{{ $entry.ColorSubtle }}:  {{ $entry.Func }}
{{- if $entry.Err}}
    {{ $entry.ColorHighlight }}Error{{ $entry.ColorSubtle }}: {{ $entry.ColorError }}{{ $entry.Err }}{{ $entry.ColorDefault }}
{{- end }}
{{- range $idx, $key := $entry.Keys }}
    {{ $entry.ColorHighlight }}{{ $key }}{{ $entry.ColorDefault }}: {{ fmt_idx $entry.Values $idx }}
{{- end }}

